<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/background.css">

    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/background.js"></script>
    <script src="js/notice.js"></script>

    <title>公告</title>
</head>
<body>
<!--背景-->
<canvas id="canvas"></canvas>

    <div class="container bg-light p-4" style="min-height: 100vh" id="content">
        <a href="/MeetingRoom/index.jsp" style="color: black">
            <img class="mb-1" src="img/return.svg" style="width: 2.5vh;">
            <span>返回首页</span>
        </a>
    </div>

</body>
</html>